In [1]:
import pandas as pd

In [2]:
studentList = pd.read_csv('studentList.csv', header =1)

In [26]:
studentList.tail(4)

,CGPA,CourseName,ENG_TEST,GRE,Name,WorkExp,admit/reject,college
24555,\n8.9 CGPA,"\nUniversity of California, Santa Barbara Elec...",\n119,\n331,Venkateshwar Kottapalli,\n30 months,admit,"University of California, Santa Barbara"
24556,\n9.29 CGPA,"\nUniversity of California, Santa Barbara Comp...",\n108,\n313,Srushti Sb,\n20 months,admit,"University of California, Santa Barbara"
24557,\n8.8 CGPA,"\nUniversity of California, Santa Barbara Elec...",\n109,\n325,Tajuddin Manhar,\nNA,admit,"University of California, Santa Barbara"
24558,\n9.54 CGPA,"\nUniversity of California, Santa Barbara Elec...",\n109,\n329,Prathi,\n30 months,admit,"University of California, Santa Barbara"

In [9]:
studentList = studentList.drop('Unnamed: 0', axis = 1)

In [17]:
studentList1 = pd.read_csv('studentList1.csv', names = ['remove','CGPA','CourseName','ENG_TEST','GRE','Name','WorkExp','admit/reject','college'])

In [27]:
studentList1.tail(4)

,CGPA,CourseName,ENG_TEST,GRE,Name,WorkExp,admit/reject,college
28080,\n54.5 %,\nUniversity of the Potomac Information Techno...,\n6,\n284,yashwanth,\nNA,admit,University of the Potomac
28081,\n54.5 %,\nUniversity of the Potomac Information Techno...,\n6,\n284,yashwanth,\nNA,admit,University of the Potomac
28082,\n8.5 CGPA,\nKeck Graduate Institute Bioscience\nFall 2018,\n110,\n303,Sreya,\n1 month,admit,Keck Graduate Institute
28083,\n8.5 CGPA,\nKeck Graduate Institute Bioscience\nFall 2018,\n110,\n303,Sreya,\n1 month,admit,Keck Graduate Institute

In [19]:
studentList1 = studentList1.drop('remove', axis = 1)

In [28]:
finalList = pd.concat([studentList,studentList1],ignore_index=True)

In [29]:
finalList.tail(4)

,CGPA,CourseName,ENG_TEST,GRE,Name,WorkExp,admit/reject,college
52639,\n54.5 %,\nUniversity of the Potomac Information Techno...,\n6,\n284,yashwanth,\nNA,admit,University of the Potomac
52640,\n54.5 %,\nUniversity of the Potomac Information Techno...,\n6,\n284,yashwanth,\nNA,admit,University of the Potomac
52641,\n8.5 CGPA,\nKeck Graduate Institute Bioscience\nFall 2018,\n110,\n303,Sreya,\n1 month,admit,Keck Graduate Institute
52642,\n8.5 CGPA,\nKeck Graduate Institute Bioscience\nFall 2018,\n110,\n303,Sreya,\n1 month,admit,Keck Graduate Institute

In [31]:
finalList.to_csv('finalList.csv', index=False)