In [155]:
import pandas as pd
import numpy as np

In [165]:
studentDetail_df = pd.read_csv("finalList.csv", header=0)

In [166]:
studentDetail_df.tail(4)

,CGPA,CourseName,ENG_TEST,GRE,Name,WorkExp,admit/reject,college
52639,\r\n54.5 %,\r\nUniversity of the Potomac Information Tech...,\r\n6,\r\n284,yashwanth,\r\nNA,admit,University of the Potomac
52640,\r\n54.5 %,\r\nUniversity of the Potomac Information Tech...,\r\n6,\r\n284,yashwanth,\r\nNA,admit,University of the Potomac
52641,\r\n8.5 CGPA,\r\nKeck Graduate Institute Bioscience\r\nFall...,\r\n110,\r\n303,Sreya,\r\n1 month,admit,Keck Graduate Institute
52642,\r\n8.5 CGPA,\r\nKeck Graduate Institute Bioscience\r\nFall...,\r\n110,\r\n303,Sreya,\r\n1 month,admit,Keck Graduate Institute

In [167]:
# make a copy just in case
copy_studentList = studentDetail_df.copy()

In [168]:
# check if the work_exp is admit/reject .. easy to check in if.. 
# think of other logic if you can 

misarranged_df = studentDetail_df[(studentDetail_df['WorkExp'] == 'admit') | (studentDetail_df['WorkExp'] == 'reject')]
index_to_del = misarranged_df.index.values
print(index_to_del)
studentDetail_df.drop(index_to_del, inplace=True)
studentDetail_df.dropna(how='all', inplace=True) #remove the nan resulted from removing the rows

[52147 52148 52149 52150 52151 52152 52153 52154 52155 52156 52157 52158
 52159 52160 52161 52162 52163 52164 52165 52166 52167 52168 52169 52170
 52171 52172 52173 52174 52175 52176]

In [161]:
# change the index
# studentDetail_df = studentDetail_df.reindex(list(range(studentDetail_df.shape[0]))) 
# Above does not seem to work.. renders the removal of nan useless

In [180]:
studentDetail_df.tail()

,CGPA,CourseName,ENG_TEST,GRE,Name,WorkExp,admit/reject,college,Period,CollegeInfo,Course
52638,64.5 %,The College of Saint Rose Computer Information...,6.5,286,SAI KUMAR REDDY,NA,admit,The College of Saint Rose,Spring 2018,The College of Saint Rose Computer Information...,Computer Information Systems
52639,54.5 %,University of the Potomac Information Technolo...,6,284,yashwanth,NA,admit,University of the Potomac,Spring 2018,University of the Potomac Information Technology,Information Technology
52640,54.5 %,University of the Potomac Information Technolo...,6,284,yashwanth,NA,admit,University of the Potomac,Spring 2018,University of the Potomac Information Technology,Information Technology
52641,8.5 CGPA,Keck Graduate Institute Bioscience\r\nFall 2018,110,303,Sreya,1 month,admit,Keck Graduate Institute,Fall 2018,Keck Graduate Institute Bioscience,Bioscience
52642,8.5 CGPA,Keck Graduate Institute Bioscience\r\nFall 2018,110,303,Sreya,1 month,admit,Keck Graduate Institute,Fall 2018,Keck Graduate Institute Bioscience,Bioscience

In [171]:
# Remove the line break and spaces
for col in ['CourseName','ENG_TEST','GRE','WorkExp','CGPA']:
    studentDetail_df[col] = studentDetail_df[col].astype(str).apply(lambda x: x[2:])

In [172]:
studentDetail_df['Period'] = studentDetail_df.CourseName.str.split('\r\n').str[1]
studentDetail_df['CollegeInfo'] = studentDetail_df.CourseName.str.split('\r\n').str[0]

In [177]:
def getCourseName(df):
    df['Course'] = df['CollegeInfo'][len(df['college']):]
    return df['Course']

In [179]:
studentDetail_df['Course'] = studentDetail_df.apply(getCourseName, axis = 1)

In [181]:
intermediate_studentList = studentDetail_df.copy()

In [ ]:
# to do
# get the year from the period and seperate period
# normalise cgpa and remove cgpa letters
# normalise eng test
#