In [1]:
# to do
# join university details with student detail

In [2]:
import pandas as pd
import numpy as np

In [3]:
studentDetail_df = pd.read_csv("finalList.csv", header=0)

In [4]:
studentDetail_df.tail(4)

,CGPA,CourseName,ENG_TEST,GRE,Name,WorkExp,admit/reject,college
52639,\r\n54.5 %,\r\nUniversity of the Potomac Information Tech...,\r\n6,\r\n284,yashwanth,\r\nNA,admit,University of the Potomac
52640,\r\n54.5 %,\r\nUniversity of the Potomac Information Tech...,\r\n6,\r\n284,yashwanth,\r\nNA,admit,University of the Potomac
52641,\r\n8.5 CGPA,\r\nKeck Graduate Institute Bioscience\r\nFall...,\r\n110,\r\n303,Sreya,\r\n1 month,admit,Keck Graduate Institute
52642,\r\n8.5 CGPA,\r\nKeck Graduate Institute Bioscience\r\nFall...,\r\n110,\r\n303,Sreya,\r\n1 month,admit,Keck Graduate Institute

In [5]:
# make a copy just in case
copy_studentList = studentDetail_df.copy()

In [6]:
# check if the work_exp is admit/reject .. easy to check in if.. 
# think of other logic if you can 

misarranged_df = studentDetail_df[(studentDetail_df['WorkExp'] == 'admit') | (studentDetail_df['WorkExp'] == 'reject')]
index_to_del = misarranged_df.index.values
print(index_to_del)
studentDetail_df.drop(index_to_del, inplace=True) 
studentDetail_df.dropna(how='all', inplace=True) #remove the nan resulted from removing the rows

[52147 52148 52149 52150 52151 52152 52153 52154 52155 52156 52157 52158
 52159 52160 52161 52162 52163 52164 52165 52166 52167 52168 52169 52170
 52171 52172 52173 52174 52175 52176]

In [7]:
# change the index
# studentDetail_df = studentDetail_df.reindex(list(range(studentDetail_df.shape[0]))) 
# Above does not seem to work.. renders the removal of nan useless

In [8]:
studentDetail_df.tail()

,CGPA,CourseName,ENG_TEST,GRE,Name,WorkExp,admit/reject,college
52638,\r\n64.5 %,\r\nThe College of Saint Rose Computer Informa...,\r\n6.5,\r\n286,SAI KUMAR REDDY,\r\nNA,admit,The College of Saint Rose
52639,\r\n54.5 %,\r\nUniversity of the Potomac Information Tech...,\r\n6,\r\n284,yashwanth,\r\nNA,admit,University of the Potomac
52640,\r\n54.5 %,\r\nUniversity of the Potomac Information Tech...,\r\n6,\r\n284,yashwanth,\r\nNA,admit,University of the Potomac
52641,\r\n8.5 CGPA,\r\nKeck Graduate Institute Bioscience\r\nFall...,\r\n110,\r\n303,Sreya,\r\n1 month,admit,Keck Graduate Institute
52642,\r\n8.5 CGPA,\r\nKeck Graduate Institute Bioscience\r\nFall...,\r\n110,\r\n303,Sreya,\r\n1 month,admit,Keck Graduate Institute

In [9]:
# Remove the line break and spaces
for col in ['CourseName','ENG_TEST','GRE','WorkExp','CGPA']:
    studentDetail_df[col] = studentDetail_df[col].astype(str).apply(lambda x: x[2:])

In [10]:
studentDetail_df['Period'] = studentDetail_df.CourseName.str.split('\r\n').str[1]
studentDetail_df['CollegeInfo'] = studentDetail_df.CourseName.str.split('\r\n').str[0]

In [11]:
def getCourseName(df):
    df['Course'] = df['CollegeInfo'][len(df['college']):]
    return df['Course']

In [12]:
studentDetail_df['Course'] = studentDetail_df.apply(getCourseName, axis = 1)

In [13]:
intermediate_studentList = studentDetail_df.copy()

In [14]:
studentDetail_df['Year'] = studentDetail_df.Period.str.split(" ").str[1]
studentDetail_df['Period'] = studentDetail_df.Period.str.split(" ").str[0]

In [15]:
studentDetail_df.head(6)

,CGPA,CourseName,ENG_TEST,GRE,Name,WorkExp,admit/reject,college,Period,CollegeInfo,Course,Year
0,67 %,Northeastern University Information Systems\r\...,96,310,Achira,36 months,admit,Northeastern University,Fall,Northeastern University Information Systems,Information Systems,2018
1,65 %,Northeastern University Information Systems\r\...,96,310,achira shah,24 months,admit,Northeastern University,Fall,Northeastern University Information Systems,Information Systems,2018
2,7.85 CGPA,Northeastern University Engineering Management...,100,304,Deep Vira,1 month,admit,Northeastern University,Fall,Northeastern University Engineering Management,Engineering Management,2018
3,7.02 CGPA,Northeastern University Biotechnology\r\nSprin...,99,306,Anushka Menon,NA,admit,Northeastern University,Spring,Northeastern University Biotechnology,Biotechnology,2019
4,7.75 CGPA,Northeastern University Digital Media\r\nSprin...,7.5,N.A.,Piyush Rai,24 months,admit,Northeastern University,Spring,Northeastern University Digital Media,Digital Media,2019
5,80 %,Northeastern University Pharmaceutical Science...,NA,N.A.,Isha Shetty,NA,admit,Northeastern University,Fall,Northeastern University Pharmaceutical Sciences,Pharmaceutical Sciences,2018

In [16]:
studentDetail_df['ENG_TEST'] = pd.to_numeric(studentDetail_df['ENG_TEST'], errors='coerce')
studentDetail_df['GRE'] = pd.to_numeric(studentDetail_df['GRE'], errors='coerce')

In [17]:
checking = studentDetail_df.copy()

In [18]:
checking['TOEFL'] = checking['ENG_TEST'][checking['ENG_TEST'] > 9]
checking['IELTS'] = checking['ENG_TEST'][checking['ENG_TEST'] <= 9]

In [19]:
studentDetail_df['TOEFL'] = studentDetail_df['ENG_TEST'][studentDetail_df['ENG_TEST'] > 9]
studentDetail_df['IELTS'] = studentDetail_df['ENG_TEST'][studentDetail_df['ENG_TEST'] <= 9]

In [20]:
checking.head(6)

,CGPA,CourseName,ENG_TEST,GRE,Name,WorkExp,admit/reject,college,Period,CollegeInfo,Course,Year,TOEFL,IELTS
0,67 %,Northeastern University Information Systems\r\...,96.0,310.0,Achira,36 months,admit,Northeastern University,Fall,Northeastern University Information Systems,Information Systems,2018,96.0,NaN
1,65 %,Northeastern University Information Systems\r\...,96.0,310.0,achira shah,24 months,admit,Northeastern University,Fall,Northeastern University Information Systems,Information Systems,2018,96.0,NaN
2,7.85 CGPA,Northeastern University Engineering Management...,100.0,304.0,Deep Vira,1 month,admit,Northeastern University,Fall,Northeastern University Engineering Management,Engineering Management,2018,100.0,NaN
3,7.02 CGPA,Northeastern University Biotechnology\r\nSprin...,99.0,306.0,Anushka Menon,NA,admit,Northeastern University,Spring,Northeastern University Biotechnology,Biotechnology,2019,99.0,NaN
4,7.75 CGPA,Northeastern University Digital Media\r\nSprin...,7.5,NaN,Piyush Rai,24 months,admit,Northeastern University,Spring,Northeastern University Digital Media,Digital Media,2019,NaN,7.5
5,80 %,Northeastern University Pharmaceutical Science...,NaN,NaN,Isha Shetty,NA,admit,Northeastern University,Fall,Northeastern University Pharmaceutical Sciences,Pharmaceutical Sciences,2018,NaN,NaN

In [21]:
studentDetail_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52613 entries, 0 to 52642
Data columns (total 14 columns):
CGPA            52613 non-null object
CourseName      52613 non-null object
ENG_TEST        50275 non-null float64
GRE             50937 non-null float64
Name            52611 non-null object
WorkExp         52613 non-null object
admit/reject    52613 non-null object
college         52613 non-null object
Period          52611 non-null object
CollegeInfo     52613 non-null object
Course          52613 non-null object
Year            52491 non-null object
TOEFL           40121 non-null float64
IELTS           10154 non-null float64
dtypes: float64(4), object(10)
memory usage: 6.0+ MB

In [22]:
studentDetail_df['CGPA_100'] = studentDetail_df['CGPA'][studentDetail_df['CGPA'].str.contains('%')]
studentDetail_df['CGPA_10'] = studentDetail_df['CGPA'][studentDetail_df['CGPA'].str.contains('CGPA')]

In [23]:
studentDetail_df['CGPA_10'] = studentDetail_df.CGPA_10.str.split(" ").str[0]
studentDetail_df['CGPA_100'] = studentDetail_df.CGPA_100.str.split(" ").str[0]

In [37]:
studentDetail_df.head()

,ENG_TEST,GRE,Name,WorkExp,admit/reject,college,Period,Course,Year,TOEFL,IELTS,CGPA_100,CGPA_10
0,96.0,310.0,Achira,36.0,admit,Northeastern University,Fall,Information Systems,2018,96.0,NaN,67,NaN
1,96.0,310.0,achira shah,24.0,admit,Northeastern University,Fall,Information Systems,2018,96.0,NaN,65,NaN
2,100.0,304.0,Deep Vira,1.0,admit,Northeastern University,Fall,Engineering Management,2018,100.0,NaN,NaN,7.85
3,99.0,306.0,Anushka Menon,NaN,admit,Northeastern University,Spring,Biotechnology,2019,99.0,NaN,NaN,7.02
4,7.5,NaN,Piyush Rai,24.0,admit,Northeastern University,Spring,Digital Media,2019,NaN,7.5,NaN,7.75

In [32]:
studentDetail_df['WorkExp'] = studentDetail_df['WorkExp'].str.split(" ").str[0]
studentDetail_df['WorkExp'] = pd.to_numeric(studentDetail_df['WorkExp'], errors='coerce')

In [34]:
checking = studentDetail_df.copy()

In [36]:
studentDetail_df.drop(['CourseName','CGPA','CollegeInfo'], axis = 1, inplace = True)

In [38]:
studentDetail_df.to_csv('processedData.csv',index=False)